// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'IRANSans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3da3e8;
$indigo: #6574cd;
$purple: #996cfb;
$pink: #f66d9b;
$red: #fd6585;
$orange: #fd9e4b;
$yellow: #fecc60;
$green: #51c0bf;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #555555;
$gray: #c9cbcf;
$transparent: transparent;
$MenuText: 12px;
$theadColors: #36304a;

$theme-colors: (
  "info": $gray,
  "secondary": $black,
  "section": $black,
  "orangeSection": $orange,
  "purpleSection": $purple,
  "transparent": $transparent,
);
