.checkbox label{
    font-family: IRANSans;
}

.navbar-nav .dropdown-menu{
    position: absolute !important;
}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1920px;
    }
}

.bg-section{
    background-color: #fce38a;
}

.rounded{
    border-radius: 9px !important;
}

.header-title{
    color: $black;
}

@each $color, $value in $theme-colors {
    .card.btn-#{$color} {
        &:hover{
            background-color: #FFF !important;
            color: $value;
        }
    }
}

.btn-outline-transparent{
    border: 1px solid $black;
    &:hover{
        border: 1px solid $black;
        input{
            color: $black;
        }
    }
    input{
        border: 0;
        &:focus{
            outline: none;
        }
    }
}