//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Dashmix functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: $font-family-main;

    .form-control{
        font-family: $font-family-main;
    }
    h1,h2,h3,h4,h5,h6, .block-title, .title{
        font-weight: bold;
    }
    .nav-main-link-name{
        font-weight: 700;
    }
    #dropdown-default-hero-primary {
        padding-left: 14px;
        padding-right: 14px;
    }
    .font-size-h1.font-w700{
        font-size: 2.8rem;
        font-weight: 900;
    }       
    .custom-control *{
        outline: none !important;
    }
    table th, table td{
        text-align: center;
    }
}

// RTL Graphics

body.fa{
    font-family: $font-family-persian;
    direction: rtl;
    text-align: right;
    width: 100%;
    .nav-main-link.nav-main-link-submenu{
        padding-left: 2rem;
        padding-right: unset;
    }
    .nav-main-link .nav-main-link-icon{
        margin-left: 0.625rem;
        margin-right: unset;
    }

    .nav-main-link.nav-main-link-submenu::before, .nav-main-link.nav-main-link-submenu::after{
        left: 0.625rem;
        right: unset;
    }

    .btn{
        font-family: $font-family-persian;
    }
    .dropdown-menu.dropdown-menu-lg.dropdown-menu-right.p-0.show{
        .nav-items{
            text-align: right;
            direction: rtl;
        }
    }
    .input-group{
        flex-direction: row-reverse;
    }
    .text-md-left{
        text-align: right !important;
    }
    .text-left{
        text-align: right !important;
    }
    .text-md-right{
        text-align: left !important;
    }
    .text-right{
        text-align: left !important;
    }
    .dropdown-item{
        text-align: right;
    }
}

// Top Header
.content-header{
    .btn{
        font-size: 14px;
    }
}